header{
    margin-bottom: 0px;
}

.main1{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 0;
}

.signUp{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 150px 150px;
}

.sign{
    margin-bottom: 30px;
}

.signUpEmail{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0.8);
}

.signUpPassword{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0.8);
}

.signUpButton{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer ;
    background-color: #1a1a1a;;
}

.signUpButton:hover{
    transform: scale(1.02em);
}

.hero{
    height: 100vh;
}

.main1{
    display: flex;
    flex-direction: column;
}