@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

header{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
}

.MindoorLogo{
    cursor: pointer;
    height: 25px;
}

.leftsideOfMenu{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menuEl{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    transition: 0.5s ease-in-out;
}

.menuEl:hover{
    color: rgb(255, 123, 0);
}

.rightsideOfMenu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.Cart{
    position: relative;
    background-color: transparent;
    border: none;
}

.cartikkk{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.greenCircle{
    background-color: rgb(119, 133, 82);
    height: 13px;
    width: 13px;
    position: absolute;
    z-index: 1000;
    top: 32px;
    right: 28.7%;
    border-radius: 50%;
    cursor: pointer;
}

.bookASession{
    font-size: 15px;
    color: black;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.bookASession:hover{
    color: rgb(255, 123, 0);
}

.telephone{
    display: flex;
    align-items: center;
    padding: 16px 20px;
    width: 200px;
    font-size: 15px;
    background-color: rgb(141, 105, 89);
    font-weight: 700;
    border-radius: 30px;
    gap: 3px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.tele{
    height: 19px;
    width: 19px;
    fill: white;
}

.telephone:hover{
    background-color: black;
}

.overlay{
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.cart-modal{
    background: white;
    border: 1px solid black;
    color: black;
    width: 480px;
    height: 300px;
}

.inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
}

.mainName{
    font-family: Lora;
    font-size: 25px;
}

.closeModalBtn{
    background-color: transparent;
    border: none;
}

.closeModal{
    width: 25px;    
    height: 25px;
}

.underLine{
    border: none;
    height: 1px;
    background-color: rgb(170, 170, 170, 0.5);
}   

.overhow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.allPages{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: black;
}

.downArrow{
    transition: 0.6s ease-in-out;
}

.allPages:hover {
    color: rgb(255, 123, 0);
}

.allPages:hover .downArrow{
    fill: rgb(255, 123, 0);
}

.allPagesDiv{
    position: absolute;
    left: 170px;
    top: 65px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    height: 260px;
    width: 400px;
    border-radius: 20px;
    z-index: 1000;
    padding: 0 12px 12px 12px;
}

.divOfLists{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

.list1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 40px;
}

.elementAllPages{
    color: black;
    transition: 0.5s ease-in-out;
    font-size: 16px;
}

.elementAllPages:hover{
    color: rgb(255, 123, 0);
}

.elementAllPages{
    font-size: 15px;
}

.elementAllPages:hover{
    color: rgb(255, 123, 0);
}

.haha{
    display: flex;
}

.hambuger-menu{
    display: none;
    align-items: center;
    justify-content: center;
}


@media (max-width: 390px) {
    header{
        margin-bottom: 0;
    }
    
    nav{
        display: none;
    }

    .MindoorLogo{
        height: 35px;
    }

    .haha{
        display: none;
    }

    .hambuger-menu{
        position: relative;
        display: block;
    }

    .rightsideOfMenu{
        display: flex;
        gap: 13px;
    }

    .greenCircle{
        right: 10%;
    }

    .allPages{
        display: flex;  
        justify-content: flex-start;
        text-align: start;
    }

    .loop{
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        text-align: start;
        padding: 10px;
        width: 350px;
        display: flex;
        top: 50px;
        right: 5px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
        line-height: 30px;
    }

    .ditu{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100px;
    }

    .hamEl{
        color: black;
    }

    .allPages1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(255, 123, 0);
    }

    .allPages1:hover{
        color: rgb(255, 123, 0);
    }

    .downArrow1{
        fill: rgb(255, 123, 0);
    }
}