@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.greenBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 220px;
    background-color: rgb(163, 163, 110);
    font-family: Noto Serif;
    font-weight: 400;
    border-radius: 16px;
    margin-bottom: 12%;
    margin-left: 2%;
    transition: 0.6s;
    animation: fromDown 0.6s ease-in-out forwards ;
    padding: 0 80px;
}

@keyframes fromDown {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

.part-of-blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.insideBlock{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.mainNazva{
    font-family: Noto Serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.klass{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.neMainNazva{
    display: block;
    width: 100%;
    white-space: normal;
    text-align: start;
}

@media (max-width: 390px) {
    .greenBlock{
        height: 530px;
        width: 340px;
        padding: 20px 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .part-of-blocks{
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
    }

    .insideBlock{
        display: grid;
        width: 340px;
        padding: 0 30px;
        font-size: 12px;
    }

    .mainNazva{
        text-align: start;
    }

    .neMainNazva{
        text-align: start;
    }

    .kiFoto{
        display: flex;
        align-items: center;
    }
}