@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.homeBetw{
    display: flex;
    justify-content: space-between;
    color: black;
    position: relative;
    transform: translateX(20px) translateY(20px);
    margin-bottom: 100px;
}

.MinDoorExperiments{
    display: flex;
    position: absolute;
    height: 450px;
    border-radius: 20px;
    transform: translateX(640px) translateY(-10%);
    z-index: 1000;
}

.undergroundBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.laik{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whyMindoor{
    display: flex;
    font-size: 2.8em;
    font-weight: 400;
    gap: 10px;
    font-family: Noto Serif;
}

.mainDoor{
    color: rgb(255, 123, 0);
}

.lessTextUnderground{
    color: rgb(114, 111, 111);
    font-weight: 400;
    text-align: start;
    width: 360px;
}

.whyMindoor, .lessTextUnderground{

    animation: fromDown 0.6s ease-in-out forwards ;
}

@keyframes fromDown {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 390px) {
    .homeBetw{
        flex-direction: column;
        margin-bottom: 450px;
        width: 320px;

    }

    .undergroundBlock{
        flex-direction: column;
    }

    .whyMindoor{
        font-size: 1.6em;
        flex-direction: row;
        text-align: center;
        gap: 8px;
    }

    .lessTextUnderground{
        width: 250px;
        text-align: start;
        font-size: 14px;
    }

    .laik{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .MinDoorExperiments{
        display: flex;
        justify-content: center;
        height: 215px;
        transform: translateX(0px) translateY(450px);
    }
}