@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
}

.firstChapter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.partTwo{
    display: flex;
    gap: 200px;
}

.secondChapter{
    display: flex;
    justify-content: space-between;
}

.harush{
    display: flex;
    margin-bottom: 50px;
}

.logos{
    display: flex;
}

.firstUp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.mensch{
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-size: IBM Plex Sans;
    font-weight: 500;
    color: rgb(117, 117, 117);
}

.our{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondUp{
    display: flex;
}

.mainCompany{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mainStich{
    display: flex;
}

.thirdUp{
    display: flex;
}

.mainMore{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.moreStich{
    display: flex;
}

.fourthUp{
    display: flex;
}

.mainLegal{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.logos{
    display: flex;
    gap: 5px;
}

.ourText{
    display: flex;
    font-size: 18px;
    font-size: IBM Plex Sans;
    font-weight: 500;
}

.Company, .More, .Legal{
    display: flex;
    font-size: 18px;
    font-size: IBM Plex Sans;
    font-weight: 500;
    margin-bottom: 20px;
}

.maStich, .moStich, .leStich{
    display: flex;
    margin-bottom: 15px;
    color: rgb(117, 117, 117);
    transition: 0.5s ease-in-out;
}

.maStich:hover, .moStich:hover, .leStich:hover{
    color: rgb(255, 123, 0);
}

.copy{
    display: flex;
    font-size: 16px;
    font-size: IBM Plex Sans;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(117, 117, 117);
}

@media (max-width: 390px) {
    .partTwo{
        display: flex;
        gap: 60px;
        text-align: start;
    }

    .firstChapter{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mensch{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        width: 400px;
        font-size: 18px;
        font-weight: 400;
    }

    .thirdUp{
        display: flex;
        flex-wrap: wrap;
    }

    .secondChapter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .harush{
        width: 350px;
    }

    .copy{
        font-size: 16px;
        font-weight: 400;
        width: 400px;
    }
}