@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Share+Tech&display=swap');

.first-main-block{
    display: flex;
    background-image: url('../images/backgroundMain.png');
    background-position: center;
    background-size: cover;
    height: 680px;
    padding: 40px 60px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    animation: slideToRight 0.3s ease-in-out;
    margin-bottom: 130px;
    position: relative;
}

@keyframes slideToRight {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

.actor-serials{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0px;
    right: 0px;

}

.left-part{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.healing{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.main-text{
    display: flex;
    align-items: flex-start;
    font-family: Noto Serif;
    margin-bottom: 20px;
    color: black;
    font-weight: 400;
}

.talanten{
    margin-right: 13px;
    color: rgb(255, 123, 0);
    font-size: 400;
}

.under-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:rgb(109, 86, 68);
    font-weight: 500;
}

.obloga{
    margin-bottom: 30px;
}

.bookSessionBtn{
    display: flex;
    align-items: center;
    width: 180px;
    padding: 15px 15px;
    background-color: rgb(109, 86, 68);
    color: rgb(255, 253, 252);
    transition: 0.6s;
    border-radius: 30px;
    gap: 20px;
}

.bookSessionArrow{
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    width: 18px;
    height: 18px;
    fill: rgb(255, 253, 252);
}

.bookSessionBtn:hover{
    color: rgb(255, 253, 252);
    background-color: black;
}

.comentator1{
    width: 30px;
    border-radius: 50%;
}

.comentator2{
    width: 30px;
    border-radius: 50%;
}

.comentator3{
    width: 30px;
    border-radius: 50%;
}

.star1{
    width: 15px;
    gap: 10px;
}

.commentsFromPeople{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    width: 350px;
    padding: 20px;
    border-radius: 20px ;
}

.zusammen{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.last-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(141, 105, 89);
    font-size: 13px;
    font-weight: 600;
}

.firstOfCommentsFromPeople{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 390px) {
    .first-main-block{
        height: 820px;
        padding: 0px 10px;
        margin-bottom: 60px;
        width: 340px;
    }

    .actor-serials{
        width: 340px;
        height: 350px;
        position: absolute;
        transform: translateY(470px);
    }

    .main-text{
        font-size: 2.2em;
        margin-bottom: 0px;
    }

    .klak{
        margin-bottom: 20px;
    }

    .under-text{
        font-size: 1em;
    }

    .healing{
        gap: 0;
    }

    .talanten{
        margin-right: 6px;
    }

    .left-part{
        justify-content: flex-start;
    }

    .commentsFromPeople{
        width: 340px;
    }

    .last-text{
        align-items: flex-start;
        font-size: 0.8em;
    }
}