    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    .blocksMain{
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .startHere{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 578px;
        background-color: rgb(141, 105, 89);
        border-radius: 20px;
        margin-bottom: 120px;
    }

    .circleOne{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 900px;
        width: 900px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .circleTwo{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;  
        height: 780px;
        width: 780px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .circleThree{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 660px;
        width: 660px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .mainA{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .giv{
        display: flex;
        gap: 10px;
    }

    .healing{
        color: white;
        font-family: Noto Serif;
        font-weight: 400;
        font-size: 3em;
    }

    .fass{
        color: white;
    }

    .bookASession{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 20px;
        border-radius: 30px;
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 15px;
        font-family: Open Sans;
        font-weight: 600;
    }

    .bookASession:hover{
        background-color: rgba(255, 255, 255, 0.7);
        color: #000;
    }

    .firstPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        margin: auto;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: circle 20s linear infinite;
        border: 2px solid white;
        transform: rotate(0deg);
    }

    .secondPers{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle 20s linear 5s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    .thirdPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        margin: auto;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: circle 20s linear 10s infinite;
        border: 2px solid white;
    }

    .fourthPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        margin: auto;
        width: 60px;
        height: 60px;
        animation: circle 20s linear 15s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    @keyframes circle {
        0% {
            transform: rotate(0deg)translate(325px)rotate(0deg);
        }
        100%{
            transform: rotate(360deg)translate(325px)rotate(-360deg);
        }
    }

    .fifthPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle1 28s linear infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    .sixthPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle1 28s linear 7s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    .seventhPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle1 28s linear 14s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    .eighthPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle1 28s linear 21s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    @keyframes circle1 {
        0% {
            transform: rotate(0deg)translate(390px)rotate(0deg);
        }
        100% {
            transform: rotate(-360deg)translate(390px)rotate(360deg);
        }
    }

    .ninethPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        animation: circle2 36s linear infinite;
        border: 2px solid white;
    }

    .tenthPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle2 36s linear 9s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    .eleventhPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        animation: circle2 36s linear 18s infinite;
        border: 2px solid white;
    }

    .twelvethPers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        width: 60px;
        height: 60px;
        animation: circle2 36s linear 27s infinite;
        border-radius: 50%;
        border: 2px solid white;
    }

    @keyframes circle2 {
        0%{
            transform: rotate(0deg)translate(450px)rotate(0deg);
        }
        100%{
            transform: rotate(360deg)translate(450px)rotate(-360deg);
        }
    }