:root{
    --orange--: rgb(255, 123, 0);
    --green--: rgb(163, 163, 110);
    --grey--: rgb(117, 117, 117);
    --forButton--: rgb(224, 217, 206);
    --brownlite--: rgb(141, 105, 89, 0.8 );
    --darkbrown--: rgb(59, 53, 51);
    --bezhevuy--: rgb(248, 243, 236);
    --black--: rgb(0, 0, 0);
}


.Three_Block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.blockss{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    background-color: var(--bezhevuy--);
    border-radius: 20px;
    text-align: start;
    padding: 25px;
}

.under_Part{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_textek{
    display: flex;
    font-size: 20px;
    color: var(--darkbrown--)
}

.textek{
    display: flex;
    font-size: 14px;
    color: var(--brownlite--);
}