@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

header{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.logiks{
    height: 25px;
}

.leftSid{
    display: flex;
    gap: 40px;
}

nav{
    display: flex;
}

.down-arrow{
    display: flex;
}

.hart{
    display: flex;
    height: 26px;
    width: 26px;
}

.rightSid{
    display: flex;
    align-items: center;
    gap: 20px;
}

.rig{
    display: flex;
    align-items: center;
    gap: 15px;
}

.book-A-session{
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

.book-A-session:hover{
    color: rgb(255, 123, 0);
}

.phoneBtn{
    display: flex;
    color: white;
    padding: 12px 20px;
    background-color: rgb(141, 105, 89);
    font-weight: 500;
    gap: 8px;
    border-radius: 30px;
}

.phoneBtn:hover{
    color: white;
}

.down-arrow{
    display: flex;
    color: black;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

.down-arrow:hover{
    color: rgb(255, 123, 0);
}

.elems{
    color: black;
    font-size: 1.02;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

.elems:hover{
    color: rgb(255, 123, 0);
}

.cartuks{
    display: flex;
    position: relative;
}

.greenPunkts{
    display: flex;
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%; 
    background-color: rgb(163, 163, 110);
    top: 25px;
    transform: translateX(19 px);
}

.overlays{
    display: flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.cartek{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 470px;
    height: 290px;
}

.your-cart{
    font-size: 25px;
    font-family: Noto Serif;
    font-weight: 400;
}

.erst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.lessPhrases{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(112, 112, 112);
}

.listHere{
    display: flex;
    position: absolute;
    gap: 20px;
    transform: translateY(10px);
    background-color: white;
    box-shadow: 0 0 15px rgb(112, 112, 112, 0.4);
    padding: 10px 20px;
    border-radius: 20px;
}

.listOne, .listTwo, .listThree{
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 35px;
}

.listEL{
    color: black;
    transition: 0.4s ease-in-out;
    font-weight: 600;
}

.listEL:hover{
    color: rgb(255, 123, 0);
}

.bookASession{
        background-color: rgb(255, 253, 252);
}