@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --orange--: rgb(255, 123, 0);
    --green--: rgb(163, 163, 110);
    --grey--: rgb(117, 117, 117);
    --brown--: rgb(141, 105, 89);
}

.bookingCart{
    display: flex;
    color: #000;
    align-items: flex-start;
    gap: 150px;
    padding: 0 20px;
}

.left_Side{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 25px;
}

.main-text_main-texte{
    display: flex;
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 3.5em;
}

.main_Texte{
    font-family: Noto Serif;
    font-weight: 400;
    color: var(--orange--);
    font-size: 1.1em;
}

.minor_text{
    display: flex;
    width: 360px;
    color: var(--grey--);
}

.right_Side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(248, 243, 236);
    padding: 25px;
    width: 60%;
    height: 530px;
    border-radius: 20px;
    border: 1px solid rgb(224, 217, 206);
}

.list_of_All{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.Your_Details{
    display: flex;
    text-align: start;
    font-size: 26px;
    font-family: Noto Serif;
    font-weight: 400;
}

.first_Line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.second_Line{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.third_Line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.first-Name, .last-Name, .phone-Number, .email-Adress, .preferred-Data, .preferred-Time{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.checkButton{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.books_Here{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    background-color: var(--brown--);
    cursor: pointer;
}

.firstN, .lastN, .nump, .email, .date, .time{
    display: flex;
    width: 340px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(253, 252, 251);
    border: 1px solid rgb(224, 217, 206);
    color: black;
    fill: black;
    justify-content: space-between;
    padding: 20px;
}

.label_First, .label_Last, .label_Nums, .label_Email, .label_Data, .label_Time{
    display: flex;
    font-weight: 600;
}