:root{
    --orange--: rgb(255, 123, 0);
    --green--: rgb(163, 163, 110);
    --grey--: rgb(117, 117, 117);
    --forButton--: rgb(224, 217, 206);
    --brownlite--: rgb(141, 105, 89, 0.8 );
    --darkbrown--: rgb(59, 53, 51);
    --bezhevuy--: rgb(248, 243, 236);
    --black--: rgb(0, 0, 0);
}

.BookSessionFooter{
    display: flex;
    flex-direction: column;
    color: var(--black--);
    justify-content: space-between;
    height: 350px;
}

.LEFT_SIDE{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.up{
    display: flex;
    justify-content: space-between;
}

.higher_text{
    display: flex;
    text-align: start;
    font-size: 18px;
    color: var(--grey--);
    width: 400px;
    font-weight: 500;
}

.weSocial{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.weAre{
    display: flex;
    text-align: start;
    font-weight: 500;
    font-size: 19px;
}

.socialLest{
    display: flex;
    gap: 10px;
}

.cleker{
    display: flex;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.cleker:hover{
    color: var(--brownlite--);
}

.main_element{
    display: flex;
    font-size: 18px;
    text-align: start;
    font-weight: 500;    
}

.elementar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ekas{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}

.elementuks{
    display: flex;
    color: var(--grey--);
    font-size: 17px;
    transition: 0.6s ease-in-out;
}

.elementuks:hover{
    color: var(--orange--);
}

.down{
    display: flex;
    align-items: center;
    height: 100px;
}

.down_copyright{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cop{
    color: var(--grey--);
    font-weight: 500;
}

.webflew{
    color: var(--grey--);
    font-weight: 500; 
    transition: 0.6s ease-in-out;
}

.webflew:hover{
    color: var(--orange--);
}