body, html{
    padding: 0;
    margin: 0;
}

.hero{
    height: 100vh;
    background-color: rgb(255, 253, 252);
    padding: 1% 16%;
}

.hahahah{
    height: 100px;
}

@media (max-width: 390px) {
    .hero{
        padding: 0.5% 4%;
    }
}
