body, html{
    padding: 0;
    margin: 0;
}

.hero{
    height: 100vh;
    background-color: rgb(255, 253, 252);
    padding: 1% 16%;
}

.default{
    color: black;
}

.debounce{
    color: black;
}

.throttle{
    color: black;
}