@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Share+Tech&display=swap');

.mainTX{
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: black;
    gap: 20px;
}

.mainText{
    font-weight: 400;
    font-family: Noto Serif;
}

.mainlessText{
    display: flex;
    width: 500px;
    font-weight: 400;
    color: rgb(114, 111, 111);
}