header{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
    margin-bottom: 60px;
}


.leftside{
    display: flex;
    gap: 30px;
}

.ai{
    display: flex;
    height: 25px;
    width: 30px;
}

.logo{
    display: flex;
    height: 75px;
}

.allpages{
    display: flex;
    color: black;
}

.allpages:hover{
    color: black;
}

.likos{
    color: black;
}

.likos:hover{
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}

.cats{
    cursor: pointer;
}

.lists{
    position: absolute;
    top: 70px;
    gap: 20px;
    line-height: 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    text-align: start;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.linksOthers{
    display: flex;
    gap: 30px;
}

.rightside{
    display: flex;
    align-items: center;
    gap: 20px;
}

.greenPunkt{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    transform: translateX(20px);
    background-color: rgb(119, 133, 82);
}

.zysa{
    display: flex;
    align-items: center;
    gap: 20px;
}

.numeros{
    color: black;

}

.numeros:hover{
    color: black;
}

.numerik{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgb(141, 105, 89);
    border: none;
    height: 50px;
    width: 200px;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.numerik:hover{
    background-color: black;
}

.classik{
    height: 23px;
}

.overlay1{
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrappper{
    color: black;
    background-color: white;
    width: 500px;
    height: 300px;
}

.high{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.firstPhrase{
    font-size: 20px;
}

.lower{
    display: flex;
    height :150px;
    align-items: center;
    justify-content: center;
}